@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=IBM+Plex+Mono:wght@100&family=Lobster&family=Permanent+Marker&family=Rajdhani&family=Sedgwick+Ave+Display&family=Space+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    //font-family: 'IBM Plex Mono', monospace;
    font-family: 'Space Mono', monospace;
    font-size: 4em;
    color: white;
    overflow-y: hidden;

    .parallax_wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        //perspective: 300px;

        .intro_screen{
            height: 200px;
            background: linear-gradient(45deg, #2c3e50, #bdc3c7 ); //linear-gradient(45deg, #614385 , #516395 ); 
            @include align-center();
        }

        .outro_screen{
            height: 100vh;
            background-color: #2c3e50;
            @include align-center();
        }

        .group1 {
            background: #2c3e50;
        }

        .backgroundcard{
            background: #2c3e50;
            border-top: 5px solid;
            border-image: linear-gradient(45deg, #263545 , #263545 );
            border-image-slice: 1;
            width: 100vw;
            height: 100vh;
            //background-color: #2c3e50;
            color: white;
            //display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            top: 0;

            //Persoonlijke ontwikkeling
            .cardcontainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                margin-left: 20;
                  margin-top: 20;
                
                .expandcard {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  border: 1px solid black;
                  padding: 1rem;
                  font-size: large;
                  cursor: pointer;
                  transition: height 5s ease;
                  font-family: 'DynaPuff', cursive;
                  border-radius: 10px;
                  height:fit-content;
                  background: #646f8e;
                  margin: 10;
                  width: 75%;

                  &:hover {
                    .card-expand {
                      display: block;
                    }
                    //height: 200px; // Change the height property
                    background: linear-gradient(45deg, #ff9966 , #ff5e62 ); // Change the background color
                    font-family: 'DynaPuff', cursive;
                  }
                  
                  .card-text {
                    width: 50%;
                  }
                  
                  .card-expand {
                    display: none;
                    width: 50%;
                  }
                }
                & .expanded {
                    //height: 200px;
                    background: linear-gradient(45deg, #ff9966 , #ff5e62 ); // Change the background color
                  }
              }

            //Extra's
            .carousel-container {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
              
                .carousel-wrapper {
                  display: flex;
                  flex-wrap: nowrap;
                  transition: transform 0.5s ease;
              
                  .carouselcard {
                    flex: 0 0 100%;
                    padding: 20px;
                    box-sizing: border-box;
                    .carouselcard-content{
                      background: linear-gradient(45deg, #4ca1af , #c4e0e5 );
                      padding: 20px;
                      border-radius: 15px;
                      margin: 50px ;
                      flex-wrap: wrap;
                      a:link, a:visited {
                        background-color: #446b7a;
                        color: white;
                        padding: 14px 25px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 10px;
                      }
                      
                      a:hover, a:active {
                        background-color: #548396;
                        border-radius: 10px;
                      }
                      .centerimage{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 25%;
                        border-radius: 20px;
                      }
                      .centerimagegoogle{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 35%;
                        border-radius: 20px;
                      }
                      .centerimagefuture{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 30%;
                        border-radius: 20px;
                      }
                    }
                  }
                }
              
                .previous-button, .next-button {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  font-size: 50px;
                  border: none;
                  background-color: transparent;
                }
              
                .previous-button {
                  left: 20px;
                  color: #4ca1af;
                }
              
                .next-button {
                  right: 20px;
                  color: #c4e0e5;
                }
              }
            
            //Innovatieroutes

            .backgroundcard-title {
                text-align: center;
                padding-top: 20px;
            }
            
            .portfolio {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap: 20px;
                padding: 0 20px;
              }
              
              .item {
                background-color: #bdc3c7;
                border-radius: 10px;
                padding: 20px;
                transition: all 0.2s ease-in-out;
              
                &:hover {
                  transform: translateY(-5px);
                  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                }
              
                h2 {
                  font-size: 24px;
                  margin: 0 0 10px;
                }
              
                .date {
                  font-size: 16px;
                  color: #888888;
                  margin: 0 0 10px;
                }
              
                .description {
                  font-size: 16px;
                  margin: 0 0 20px;
                }
              
                .extra-info {
                  display: none;
                  margin-top: 10px;
              
                  p {
                    margin: 5px 0;
                  }
                }
              
                &.active {
                    background: linear-gradient(45deg, #614385, #516395);
                  font-weight: bold;
                  font-family: 'Sedgwick Ave Display', cursive;
                  color: white;
              
                  h2 {
                    color: white;
                  }

                  .description {
                    font-family: 'Rajdhani', sans-serif;
                  }
              
                  .date {
                    color: #e454ef;
                  }
              
                  .extra-info {
                    display: block;
                  }
                }
              }

            //Seminaries
              
            .card-group:hover > .card {
                cursor: pointer;
                transform: rotateY(180px);
            }

            .card-group {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                perspective: 1000px;
            
                .container {
                    &:hover > .card {
                        transform: rotateY(180deg);
                    }
                
                    .card {
                        margin-top: 100px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        border-radius: 10px;
                        padding: 10px;
                        width: 300px;
                        height: 300px;
                        transition: transform 1s;
                        transform-style: preserve-3d;
                        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
                        font-family: 'DynaPuff', cursive;
                
                        &.flipped {
                            transform: rotateY(180deg);
                        }
                
                        .front, .back {
                            backface-visibility: hidden;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                
                        .front {
                            z-index: 2;
                            transform: rotateY(0deg);
                            font-size: 20px;
                            font-weight: bold;
                        }
                
                        .back {
                            transform: rotateY(180deg);
                            pointer-events: none;
                            font-size: 20px;
                            font-family: 'IBM Plex Mono',monospace;
                            font-weight: bold;
                            .bold{
                              font-weight: bold;
                            }

                        }
                    }
                }
            }
            
        }

        .parallax_group{
            position: relative;
            height: 100vh;
            transform-style: preserve-3d;

            .parallax_layer {
                position: absolute;
                inset: 0;
                @include align-center();
            }

            .base_layer {
                //scale calculation 1 + (Z transform value * -1) / perspective)
                transform: translateZ(-300px) scale(2.1);
            }

            .mid_layer {
                transform: translateZ(0);
            }

            .top_layer{
                transform: translateZ(210px) scale(0.4);
            }
        }

        #group-1 > .base_layer {
            background-color: #2F3C41;
        }

        #group-2 > .mid_layer {
            background-color: #2F3C41;
        }

        #card-1{
            background: linear-gradient(45deg, #2a758e, #402ba2);
        }

        #card-2{
            background: linear-gradient(45deg, #2a758e, #c2e59c);
            color: black;
        }

        #body > .backgroundcard {
            border-top: 5px solid;
            background: linear-gradient(45deg, #2a758e, #402ba2);
            border-image-slice: 1;
        }
    }
}


